.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f6f6f6;
  padding-top: 200px;

  &__header {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 200px;
    &__small {
      height: 100px;
      backdrop-filter: blur(10px);
    }
    &__logo,
    &__happy {
      transition: 0.5s;
    }
    &_main {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 10px;
      transition-delay: 0.2s;
      transition: 0.5s;
      &__small {
        transform: translateY(-150px);
      }
    }
    &_blur {
      width: 100%;
      height: 50%;
      display: flex;
      transform: translateY(100px);
      backdrop-filter: blur(10px);
      justify-content: space-evenly;
      align-items: center;
      transition: transform 0.5s;
      transition-delay: 0.1s;
      flex-shrink: 1;
      min-height: 0;
      opacity: 0;
      &__small {
        transform: translateY(-50px);
        opacity: 1;
      }
    }
    &__links {
      display: flex;
      align-items: center;
      flex: 1;
      &__every {
        margin: 6px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  &__main {
    padding: 20px;
    margin-top: 200px;
    flex: 1;
    background-color: #f6f6f6;
    padding: 10px 20px;
    min-height: 100vh;
  }
  &__footer {
    background-color: #231f20;
    color: #a6a5a5;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 16px;

  &__card {
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 0 15px -10px white;
    transition: 0.3s;
    &__text {
      font-family: "Orion", sans-serif;
    }
    &__characteristics {
      color: grey;
      display: flex;
      grid-gap: 8px;
    }
    &__all {
      background-image: url("/all.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &:hover {
      transform: scale(1.02);
    }
  }
  &__new {
    border: 1px solid lightgreen;
  }
  &__card__id {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
  }
}

.list {
  display: grid;
  grid-template-columns: 2fr 7fr;
  &__filters {
    margin: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px -10px white;
    &__block {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      grid-gap: 6px;
      h3 {
        color: #717171;
        margin: 4px;
      }
    }
  }
}
.happyTittle {
  display: flex;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}
.productNotFound {
  margin-top: 25%;
  text-align: center;
}
.all {
  margin: 16px 0;
}
